<% include ../partials/header %>

<br>
<h2><span style="font-size: 2rem; color: blue;">
    <i class="far fa-id-card"></i></span>
    <%=funcionario.nome%>  -  
    <span class="badge badge-secondary"><%=funcionario.matricula%></span>
</h2>

<h4><%=retroativo.formaDePagamento%> - <%=retroativo.tipoDoRetroativo%></h4>
<br>


<script src="/js/retroativosNew.js"></script>
<% include ../partials/footer %>